.blog {
  @extend %section;
}

.blog__title {
  @extend %section-title;
}

.blog__descr {
  @extend %section-description;
  margin-bottom: 100px;
}

.blog-list__item {
  margin: 0 auto;
  @media screen and (max-width: map-get($breakpoints, "to-tablet")) {
    max-width: 288px;
  }

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    max-width: 728px;
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    max-width: 100%;
  }
}

.post {
  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }
}

.blog-descr-wrap {
  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    max-width: 528px;
    padding: 32px 0;
  }
}

.post__thumb {
  position: relative;
  margin-bottom: 32px;

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    width: 528px;
    margin-bottom: 0;
  }
}

.post__overlay {
  @extend %overlay;
  border-radius: 26px;
}

.post__title {
  color: $text-color-headers;
  font-family: $accent-text-font;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 24px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    font-size: 54px;
  }
}

.post__content {
  color: $text-color-headers;
  line-height: 2.3;
  margin-bottom: 24px;
}

.post__link {
  color: $primary-color;
  font-family: $text-color-paragraph;
  font-size: 24px;
  line-height: 2.2;
}

.arrow-icon--post {
  fill: $primary-color;
}
