.booking-form {
  max-width: 248px;
  margin: 0 auto;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    transform: translateX(-20px);
    display: flex;
    max-width: 659px;
    margin-left: 0;
    border-radius: 0 16px 16px 0;
  }

  @media screen and (min-width: map-get($breakpoints, "desktop-s")) {
    transform: translateX(-30px);
    max-width: 1056px;
    align-items: center;
  }

  background-color: $text-color-light;
  border-radius: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 80px 20px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 0;
    padding: 20px 100px 20px 32px;
  }

  @media screen and (min-width: map-get($breakpoints, "desktop-s")) {
    padding: 0 0 0 32px;
  }
}
.booking-form__lable {
  text-transform: uppercase;
  font-size: 14px;
  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    font-size: 16px;
  }
}

.booking-form__input {
  display: block;
  width: 100%;
  margin: 12px 0 40px 0;
  padding-bottom: 12px;

  &--margin {
    margin-bottom: 0;
  }

  border: 1px solid transparent;
  border-bottom: 1px solid $booking-form-input-border-color;
  outline: none;

  color: $text-color-headers;
  font-family: $accent-text-font;
  font-size: 14px;

  transition: border-bottom 250ms $transition-function;
  &::placeholder {
    color: $text-color-headers;
    font-family: $accent-text-font;
  }

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    width: 158px;
    font-size: 16px;
    margin-bottom: 0;
  }
}

.booking-form__input:focus-within {
  border-bottom: 1px solid $primary-color;
}

.booking-form__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  width: 100%;

  color: $text-color-light;
  font-family: $accent-text-font;
  font-size: 36px;
  background-color: $primary-color;
  border-radius: 0 0 16px 16px;

  transition: box-shadow 250ms $transition-function;

  &:hover,
  &:focus {
    box-shadow: $box-shadow-hover-light;
  }

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    width: 170px;
    padding: 60px 20px;
    border-radius: 0 16px 16px 0;
  }

  @media screen and (min-width: map-get($breakpoints, "desktop-s")) {
    padding: 40px 20px;
    margin-left: auto;
  }
}

.arrow-icon {
  fill: $text-color-light;
  margin-left: 12px;
}
