.destinations {
  @extend %section;
}

.destinations__title {
  @extend %section-title;
}

.destinations__descr {
  @extend %section-description;

  @media screen and (max-width: map-get($breakpoints, "to-desctop-s")) {
    max-width: 884px;
  }
}

.destination-list {
  @media screen and (max-width: map-get($breakpoints, "to-desctop-s")) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.destinations-list__item {
  max-width: 288px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    max-width: 728px;
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    max-width: 497px;
  }

  position: relative;
  margin: 0 auto;

  margin-right: 32px;
}

.destinations-list__descr {
  position: absolute;
  bottom: 40px;
  left: 20px;

  color: $text-color-light;
}

.destination-list__place {
  font-family: $accent-text-font;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    font-size: 28px;
  }
}

.destination-list__location {
  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    font-size: 24px;
  }
}

.location-icon {
  fill: $text-color-light;
  margin-right: 16px;
}

.location-container {
  display: flex;
}

.destination__thumb {
  position: relative;
}

.destination__overlay {
  @extend %overlay;
  border-radius: 16px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    border-radius: 26px;
  }
}
