.footer {
  @extend %section;
  background-color: $text-color-headers;

  color: $text-color-light;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    padding-top: 100px;
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 240px;
    padding-bottom: 140px;
  }
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__copirating {
  font-size: 14px;
  margin-bottom: 60px;
}

.footer__title {
  font-size: 24px;
  font-weight: 500;

  margin-bottom: 16px;
}

.footer-menu {
  margin-bottom: 60px;
}

.footer-menu__item,
.footer-info__item {
  transition: color 250ms $transition-function;
  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:hover {
    color: $primary-color;
  }
}

.footer-info {
  margin-bottom: 60px;
}

.footer-info__phone,
.footer-info__mail {
  margin-bottom: 12px;
}

.logo__icon--footer {
  fill: $text-color-light;
}
