.galery {
  @extend %section;
}

.galery__title {
  @extend %section-title;
}

.galery__descr {
  @extend %section-description;

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    margin-bottom: 0;
  }
}

.galery-list {
  margin-bottom: 100px;

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
}

.galery-list__item {
  max-width: 288px;
  margin: 0 auto;

  @media screen and (max-width: map-get($breakpoints, "to-desctop-s")) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    max-width: 728px;
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    max-width: 248px;
  }
}

.galery-list__thumb {
  position: relative;
}

.galery-list__overlay {
  @extend %overlay;
  border-radius: 26px;
}
