.header-hero-conntainer {
  background-image: $hero-image-gradient,
    url("../../images/tablet/hero-768.jpg");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../images/tablet/hero-768@2x.jpg");
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    background-image: $hero-image-gradient,
      url("../../images/desctop/hero-1152.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/desctop/hero-1152@2x.jpg");
    }
  }

  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  padding-bottom: 100px;

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    padding-bottom: 150px;
  }
}

.header {
  position: relative;
  margin-bottom: 100px;
  padding: 32px 20px;

  @media screen and (max-width: map-get( $breakpoints, "to-tablet")) {
    padding: 24px 32px 24px 32px;
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
  }
}

.menu-container {
  @media screen and (max-width: map-get($breakpoints, "to-desctop-s")) {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 16px;
    background-color: $text-color-light;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-button {
  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    display: none;
  }
}

.menu-icon {
  fill: $text-color-light;

  .menu-button:hover & {
    fill: $primary-color;
  }
}

.mobile-menu-container {
  display: flex;
  justify-content: space-between;
}

.menu {
  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.menu__link {
  font-family: $main-text-font;
  font-size: 20px;

  &:hover,
  &:focus {
    box-shadow: $btn-hover-shadow;

    @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
      box-shadow: $box-shadow-hover-light;
    }

    border-radius: 6px;
  }

  @media screen and (max-width: map-get($breakpoints, "to-desctop-s")) {
    font-size: 30px;

    &--active {
      color: $primary-color;
    }
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    color: $text-color-light;

    &--active::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      margin-top: 4px;
      background-color: $primary-color;
    }
  }
}

.menu__item {
  @media screen and (max-width: map-get($breakpoints, "to-desctop-s")) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.navigation {
  @media screen and (max-width: map-get($breakpoints, "to-desctop-s")) {
    margin-bottom: 30px;
  }
}

.authentification {
  display: flex;
  align-items: center;

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    margin-left: 75px;
  }
}

.authentification__link {
  font-size: 20px;
  border: 1px solid $primary-color;
  border-radius: 12px;

  padding: 20px 32px;

  &--signin {
    margin-left: 36px;
    background-color: $primary-color;
    color: $text-color-light;
    @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
      margin-left: 0;
    }
  }

  &--login {
    @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
      border-color: transparent;
      color: $text-color-light;
    }
  }
  &:hover,
  &:focus {
    box-shadow: $box-shadow-hover-light;
  }
}

.logo__icon,
.menu-icon,
.pagination__icon {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__icon {
  fill: $text-color-light;
}
