.hero__title {
  color: $text-color-light;
  font-family: $accent-text-font;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 16px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    font-size: 54px;
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    font-size: 64px;
  }
}

.hero__descr {
  color: $text-color-light;
  margin-bottom: 100px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    font-size: 20px;
  }

  @media screen and (min-width: map-get($breakpoints, "desctop-s")) {
    font-size: 24px;
    margin-bottom: 140px;
  }
}

.pagination {
  display: none;
  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    position: absolute;
    right: 20px;
    top: 66px;

    display: flex;
    flex-direction: column;
  }
}

.hero {
  padding: 0 20px 0;
  position: relative;
}

.pagination__btn {
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  background-color: $text-color-light;

  &--active {
    background-color: $primary-color;
  }
}

.pagination__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &--prev.pagination__item {
    margin-bottom: 16px;
  }
}

.pagination__prev,
.pagination__next {
  display: block;
}

.pagination__icon {
  stroke: $text-color-light;
  transition: stroke 250ms $transition-function;

  .pagination__prev:hover &,
  .pagination__next:hover & {
    stroke: $primary-color;
  }
}
