.offers__title {
  @extend %section-title;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    text-align: end;
    &:after {
      margin-left: auto;
    }
  }
}

.offers__descr {
  @extend %section-description;
  margin-bottom: 60px;
  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    text-align: end;
  }
}

.offers-list {
  margin-bottom: 60px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    margin-bottom: 100px;
  }
}

.offers-list__item {
  @media screen and (max-width: map-get($breakpoints, "to-tablet")) {
    &:not(:first-child) {
      display: none;
    }
  }
}

.offer-card {
  margin: 0 auto;
  max-width: 288px;
  background-color: $offer-card-bg;
  border: 1px solid transparent;
  border-radius: 26px;
  overflow: hidden;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    max-width: 728px;
  }
}

.offer-card__meta {
  padding: 20px;
}

.offer-card__title {
  font-family: $card-title-font;
  font-size: 28px;

  margin-bottom: 8px;
}

.offer-card__descr {
  color: $text-color-headers;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 24px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    font-size: 18px;
  }
}

.offer-card__price {
  margin-bottom: 20px;

  &--accent {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    color: $primary-color;
    font-size: 32px;
  }

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.offer-card__details {
  display: inline-block;
  color: $text-color-light;
  font-size: 20px;
  text-transform: uppercase;

  background-color: $primary-color;
  padding: 16px 24px;
  border: 1px solid $primary-color;
  border-radius: 12px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
