.offers__title {
  @extend %section-title;
}

.offers__descr {
  @extend %section-description;
  margin-bottom: 60px;
}

.offers-list {
  margin-bottom: 60px;
}

.offers-list__item {
  @media screen and (max-width: map-get($breakpoints, "to-tablet")) {
    &:not(:first-child) {
      display: none;
    }
  }
}

.offer-card {
  margin: 0 auto;
  max-width: 288px;
  background-color: $offer-card-bg;
  border: 1px solid transparent;
  border-radius: 26px;
  overflow: hidden;
}

.offer-card__meta {
  padding: 20px;
}

.offer-card__title {
  font-family: $card-title-font;
  font-size: 28px;

  margin-bottom: 8px;
}

.offer-card__descr {
  color: $text-color-headers;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.offer-card__price {
  margin-bottom: 20px;
}

.offer-card__price--accent {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  color: $primary-color;
  font-size: 32px;
}

.offer-card__details {
  display: inline-block;
  color: $text-color-light;
  font-size: 20px;
  text-transform: uppercase;

  background-color: $primary-color;
  padding: 16px 24px;
  border: 1px solid $primary-color;
  border-radius: 12px;
}
