.icon-right {
  fill: $primary-color;
}

.icon-left {
  fill: $text-color-headers;
}

.btn-next {
  margin-left: 24px;
}

.btn-prev,
.btn-next {
  width: 60px;
  height: 57px;
  border-radius: 12px;

  transition: box-shadow 250ms $transition-function;
  &:hover {
    box-shadow: $btn-hover-shadow;
  }
}

.slide-buttons--mobile {
  display: none;
  @media screen and (max-width: map-get($breakpoints, "to-desctop-s")) {
    display: block;
    text-align: center;
  }
}

.slide-buttons {
  display: none;
  @media screen and (min-width: map-get($breakpoints,"desctop-s")) {
    display: block;
  }
}

.desctop-slide-btn-wrap {
  margin-bottom: 100px;

  @media screen and (min-width: map-get($breakpoints,"desctop-s")) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--offers {
    flex-direction: row-reverse;
    align-items: center;
  }
}
