.socials-icon {
  fill: $text-color-light;
  display: block;

  transition: fill 250ms $transition-function;

  &:hover,
  &:focus {
    fill: $primary-color;
  }
}

.social-list {
  display: flex;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 24px;
  }
}
