.subscribe {
  @media screen and (min-width: map-get($breakpoints, "desktop-s")) {
    transform: translateY(50%);
  }
}

.subscribe__title {
  @extend %section-title;

  &:after {
    content: "";
    width: 0;
    height: 0;
    background-color: none;
  }
}

.form-container {
  max-width: 288px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: $subscribe-box-shadow;
  border-radius: 26px;
  background-color: $text-color-light;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    max-width: 732px;
    padding: 40px;
  }

  @media screen and (min-width: map-get($breakpoints, "desktop-s")) {
    position: relative;

    max-width: 1080px;
    padding: 60px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.subscribe__title {
  color: $text-color-paragraph;
  margin-bottom: 0;

  @media screen and (max-width: map-get($breakpoints, "to-desktop-s")) {
    margin-bottom: 60px;
  }
}

.subscribe__label {
  font-size: 20px;
  display: block;
}

.subscribe__input {
  border: none;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 24px 0;

  color: #ff7757;
  font-size: 20px;
  text-align: center;
  background-color: $email-input-background-color;
  border-radius: 12px;

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    display: inline-block;
    max-width: 450px;
    margin-right: 32px;
    margin-bottom: 0;
  }

  @media screen and (min-width: map-get($breakpoints, "desktop-s")) {
    width: 378px;
  }
}

.desctop-form-wrap {
  @media screen and (min-width: map-get($breakpoints, "desktop-s")) {
    display: flex;
    align-items: flex-end;
  }
}

.subscribe__btn {
  padding: 24px 0;
  width: 100%;

  color: $text-color-light;
  font-size: 20px;

  background-color: $primary-color;
  border-radius: 12px;
  transition: box-shadow 250ms $transition-function;

  &:hover,
  &:focus {
    box-shadow: $btn-hover-shadow;
  }

  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    max-width: 160px;
    padding: 24px 0;
  }
}
