.subscribe__title {
  @extend %section-title;
}

.form-container {
  max-width: 288px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: $subscribe-box-shadow;
  border-radius: 26px;
}

.subscribe__title {
  color: $text-color-paragraph;
  margin-bottom: 60px;
}

.subscribe__label {
  font-size: 20px;
}

.subscribe__input {
  border: none;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 24px 0;

  color: #ff7757;
  font-size: 20px;
  text-align: center;
  background-color: $email-input-background-color;
  border-radius: 12px;
}

.subscribe__btn {
  padding: 16px 0;
  width: 100%;

  color: $text-color-light;
  font-size: 20px;

  background-color: $primary-color;
  border-radius: 12px;
  transition: box-shadow 250ms $transition-function;

  &:hover {
    box-shadow: $btn-hover-shadow;
  }
}
