.slider {
  position: relative;
  overflow: hidden;

  &__destination {
    width: 288px;
    height: 320px;
  }
}

.slide {
  width: 100%;

  position: absolute;
  transition: all 0.5s;

  &__destination {
    max-width: 288px;
    height: 320px;
  }
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container {
  display: grid;
  place-items: center;
}
