$primary-color: #ff7757;
$primary-color-light: #ffd2c7;
$text-color-paragraph: #767e86;
$text-color-headers: #172432;
$text-color-light: #fff;
$secondary-color: #331811;
$secondary-color-light: #61291c;
$main-text-font: "Rubik", sans-serif;
$accent-text-font: "Playfair Display", serif;
$email-input-background-color: #ffe8d4;

$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "desctop-s": 1152px,
  "dectop-m": 1440px,
  "desctop-l": 1920px,
);
